// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.stamp-btn {
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 10px 0 10px 0;
  .btn {
    width: 70px;
    height: 50px;
  }
}